@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=TASA+Orbiter:wght@400..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
    --primary-color: #7030ef;
    --secondary-color: #db1fff;
    --tertiary-color: #ffffff;
    --background-color: #090820;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.header-title {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.header-title span {
    color: var(--secondary-color);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-nav-list {
    list-style: none;
    display: flex;
    gap: 1.8rem;
}

.header-nav-list a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Google Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.header-nav-list a:hover {
    color: var(--secondary-color);
}

.header-search-input {
    padding: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    color: var(--text-color);
}

.hero {
    width: 100%;
    z-index: 0;
    background-image: linear-gradient(to right, rgba(45, 20, 94, 0.9), rgba(43, 16, 119, 0.6)), url('https://cdna.artstation.com/p/assets/images/images/044/884/542/large/alexey-anufriev-customplaymat3.jpg?1641398172');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-text h2 {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.hero-text p {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.hero-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: var(--secondary-color);
}

.hero-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Lista de animes recientes */

.listAnimes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    min-height: 100vh;
    margin-left: 2rem;
    margin-right: 2rem;
}

.recientes {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.recientes-title {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
    width: 280px;
}

.recientes hr {
    width: 85%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
}

.Anime-List {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.recientes-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 260px;
    transition: transform 0.3s ease;
}

.recientes-item::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--img-source);
    background-size: 1px 1px;
    filter: blur(40px) brightness(1.2);
    opacity: 0.00001;
    visibility: hidden;

    will-change: opacity;
    transform: translateZ(0);
    backface-visibility: hidden;

    transition: opacity 0.3s ease;
    z-index: -1;
}

.recientes-item:hover::before {
    opacity: 0.5;
    visibility: visible;
}

.recientes-item:hover {
    transform: scale(1.05);
    cursor: pointer;

}

.recientes-item img {
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}

.recientes-item p {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}