@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=TASA+Orbiter:wght@400..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
    --primary-color: #7030ef;
    --secondary-color: #db1fff;
    --tertiary-color: #ffffff;
    --background-color: #090820;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.header-title {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.header-title span {
    color: var(--secondary-color);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-nav-list {
    list-style: none;
    display: flex;
    gap: 1.8rem;
}

.header-nav-list a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Google Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.header-nav-list a:hover {
    color: var(--secondary-color);
}

.header-search-input {
    padding: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    color: var(--text-color);
}

.hero {
    width: 100%;
    z-index: 0;
    background-image: linear-gradient(to right, rgba(45, 20, 94, 0.9), rgba(43, 16, 119, 0.6)), url('https://cdna.artstation.com/p/assets/images/images/044/884/542/large/alexey-anufriev-customplaymat3.jpg?1641398172');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-text h2 {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.hero-text p {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.hero-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: var(--secondary-color);
}

.hero-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Lista de animes recientes */

.listAnimes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    min-height: 100vh;
    margin-left: 2rem;
    margin-right: 2rem;
}

.recientes {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.recientes-title {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
    width: 280px;
}

.recientes hr {
    width: 85%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
}

.Anime-List {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.recientes-item a {
    text-decoration: none;
    color: var(--text-color);
}

.recientes-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 260px;
    transition: transform 0.3s ease;
}

.recientes-item:hover {
    transform: scale(1.05);
    cursor: pointer;

}

.recientes-item img {
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}

.recientes-item p {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Buscar */

.browse {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    min-height: 100vh;
    margin-left: 2rem;
    margin-right: 2rem;
}

.browse-title {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0;
}

/* Anime */
.hero-anime {
    display: flex;
    gap: 1rem;
    min-height: 80vh;
    background-image: linear-gradient(to right, rgba(45, 20, 94, 1) 30%, rgba(43, 16, 119, 0.1) 70%), var(--bg-image);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;
}

.anime-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 400px;
    margin-left: 3rem;
}

.anime-item img {
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}

.anime-item h2 {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}

.anime-item p {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    margin-bottom: 0;
}

.anime-item-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
}

.rating {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.score {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: yellow;
}

.calidad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--tertiary-color);
}

.emitiendo {
    color: var(--secondary-color)
}

.finish {
    color: red
}


/* Episodes */

.episodes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    min-height: 100vh;
    margin-left: 2rem;
    margin-right: 2rem;
}

.episodes-title {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.episodes-title hr {
    width: 85%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    height: 0px;
}

.episodes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    justify-content: center;
    padding: 0;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.episodes-list::-webkit-scrollbar {
    display: none;
}

.episodes-list li {
    list-style: none;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 10px;
    transition: all 0.3s ease;
    margin-bottom: 12px;
}

.episodes-list li:hover {
    cursor: pointer;
    background: rgba(168, 85, 247, 0.08);
    border-color: #a855f7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.episodes-list li img {
    width: 240px;
    height: 135px;
    object-fit: cover;
    border-radius: 10px;
}

.episodes-list li a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

/* ver (estilo netflix) */

.player-container {
    position: relative;
    width: 100%;
    height: 100vh;
    aspect-ratio: 16/9;
    background: #000;
    overflow: hidden;
}

.btns {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.btns button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Google Sans', sans-serif;
    color: #8b8b8b;
    font-size: 20px;
    font-weight: 800;
}

.btns button.btn-info {
    border-radius: 20px;
    width: auto;
    padding: 10px 20px;
}

.btns button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #a855f7;
    color: #9330ef;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.iframe {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.list-servers {
    display: none;
    list-style: none;
    padding: 0;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.list-servers.visible {
    display: block;
}

.list-servers li {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    width: auto;
    height: auto;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Google Sans', sans-serif;
    color: #8b8b8b;
    font-size: 20px;
    font-weight: 800;
}

.list-servers li:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-color: #a855f7;
    color: #9330ef;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.list-servers li:first-child {
    border-radius: 9px 9px 0 0;
}

.list-servers li:last-child {
    border-radius: 0 0 9px 9px;
}

.btns-caps {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 98%;
    gap: 1rem;
    padding: 1rem;
}

.btn-backCap.nothing {
    opacity: 0;
}

.btn-nextCap.nothing {
    opacity: 0;
}

.btns-caps button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Google Sans', sans-serif;
    color: #8b8b8b;
    font-size: 20px;
    font-weight: 800;
}

.btns-caps button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #a855f7;
    color: #9330ef;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.btn-fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-fullscreen img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    filter: hue-rotate(270deg) !important;
}

.meta {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.meta h3 {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
    user-select: none;
}

.meta p {
    font-family: 'Google Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    user-select: none;
}

.bacground {
    position: absolute;
    inset: 0;
    z-index: 8;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    transition: all ease-in-out 0.3s;
}

.video-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* construction */

.construction {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Google Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.construction img {
    height: 400px;
}

/* Directorio */

.browse-filters {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.select_wrapper button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Google Sans', sans-serif;
    color: #8b8b8b;
    font-size: 1.2rem;
    font-weight: 500;
}

.select_wrapper button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #a855f7;
    color: #9330ef;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.select_options {
    list-style: none;
    position: absolute;
    justify-content: left;
    top: var(--distancia);
    left: var(--distancia);
    z-index: 9999;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    background: rgba(41, 41, 41, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Google Sans', sans-serif;
    color: #bdbdbd;
    font-size: 1rem;
    font-weight: 500;
    backdrop-filter: blur(10px);
}

.select_options li:hover {
    color: #9330ef;
}

.select_options li.active {
    color: var(--secondary-color);
}

.browse-page {
    font-family: 'Google Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    user-select: none;
    position: absolute;
    right: 10%;
}

.browse-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.browse-pagination button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Google Sans', sans-serif;
    color: #8b8b8b;
    font-size: 20px;
    font-weight: 800;
}

.browse-pagination span {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: default;
    font-family: 'Google Sans', sans-serif;
    color: #8b8b8b;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-pagination button.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #a855f7;
    color: #9330ef;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.browse-pagination button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #a855f7;
    color: #9330ef;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

/* version movil: portrait */

@media (max-width: 768px) {

    .header {
        width: auto;
    }


    .hero {
        display: none;
    }

    .listAnimes {
        margin-left: 0;
        margin-right: 0;
    }

    .recientes hr {
        display: none;
    }

    .recientes-item {
        width: 30%;
    }

    .recientes-item img {
        height: 200px;
        border-radius: 5px;
        width: 117px;
    }

    .recientes-item p {
        font-size: 0.9rem;
    }

    /* /anime */

    .anime-item {
        width: auto;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .anime-item h2 {
        font-size: 1.5rem;
    }

    .anime-item p {
        font-size: 0.9rem;
        -webkit-line-clamp: 3;
    }

    .episodes-title {
        font-size: 1.4rem;
    }

    .episodes-title hr {
        display: none;
    }

    /* /browse */

    .browse {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .browse-title {
        font-size: 1.5rem;
        margin-left: 1rem;
    }


    /* /ver modal */

    .player-container {
        background-image: linear-gradient(to right, rgba(45, 20, 94, 0.9), rgba(43, 16, 119, 0.6)), url('https://cdna.artstation.com/p/assets/images/images/044/884/542/large/alexey-anufriev-customplaymat3.jpg?1641398172');
    }

    .modal {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: #090820;
        padding: 40px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.4);
    }

    .modal-content h2 {
        font-family: "Google Sans", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }

    .modal-content p {
        font-family: "Google Sans", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-align: justify;
    }

    .modal-content svg {
        margin: auto;
        padding: 40px;
        animation: rotate 2s ease-in-out infinite;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(90deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}